.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.text-wrapper_1 {
  height: 1080px;
  background: url(./img/pshp40kvnhl1ojmyly48kqg8ffmvhpxlr7346b5593-9ab8-4df5-adcb-2b723b3fb1d0.png)
    0px 0px no-repeat;
  background-size: 1922px 1208px;
  width: 1920px;
}

.text_1 {
  width: 899px;
  height: 109px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 156px;
  font-family: MyriadPro-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 110px;
  margin: 354px 0 0 514px;
}
